VITE_SUPABASE_URL=https://fkzdgamgwzepffutftgm.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZremRnYW1nd3plcGZmdXRmdGdtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ2MDczODEsImV4cCI6MjA5MDE4MzM4MX0.-ZCvvasRbzdGoq6OXIjT04qQewUJ_tDOYb5pGoBHHXo
VITE_API_BASE_URL=
